:root {
    --fontSecundario: Arial, Helvetica, sans-serif;
    --fontPrincipal:"Bruno Ace SC", sans-serif;
    --bgContenido: #1b1b1b;
    --bginput:#ffffff;
    --white:#e4e4e4;
    --btn:#ae0bae;
    --btnHover:#ce0ece;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-weight: 400;
    font-style: normal;
}
html{
    font-size:62.5%;
    box-sizing:border-box;
}
body {
    font-family:var(--fontSecundario);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/background/background.webp) no-repeat center center fixed;
    background-size: cover
}
.contenedor {
    padding:2rem;
    border-radius:0.2rem;
    font-size:1.5rem;
    box-shadow: 0 0.5rem 2rem rgb(0,0,0);
    background-color:var(--bgContenido);
    color:var(--white);
}
.contenedor__h1{
    font-family:var(--fontPrincipal);
    text-align: center;
    margin-bottom:3rem;
}
.contenedor__div {
    margin: 2rem 0;
}
.contenedor__div label{
    cursor: pointer;
    font-size:1.5rem;
}

#longitud {
    background-color:var(--bginput);
    width:5rem;
    padding: 0.5rem;
    border: 0;
}

#longitud:focus {
    outline: none;
}

.btnGenerar {
    width:100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-transform:uppercase;
    font-family:var(--fontPrincipal);
    color:var(--white);
    background-color:var(--btn);
    transition:0.2s;
    font-size:2.5rem;
}
.btnGenerar:active{

    background-color:var(--btnHover);
}
.mostrar {
    margin-top: 20px;
}
#password {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;

}
#password{
    outline: none;
}